*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Microsoft YaHei,Arial;
	width: 100%;
	height: 100%;
	
	background: #fff;
}
html{
	font-size: 100px;
}
.new-content{
	padding: 0 0.3rem;
}
.new-content .p1{
	font-size:  0.4rem;
	margin-top: 0.5rem;
}
.new-content .p2{
	font-size:  0.4rem;
	margin-bottom: 0.24rem;
}
.new-content .p3{
	font-size:  0.24rem;
	color: #999;
}
.new-content .news{
	margin-top: 34px;
}
.new-content .news img{
	width: 100%;
	height: 100%;
}
.new-content .new-list p{
	font-size: 0.3rem;
	line-height: 0.5rem;
	word-wrap:break-word; 
}
.new-content .new-list .list-p1{
	margin-bottom: 0.1rem
}